<html>
    <head>
        <title>Handle POST requests with Flask</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>POST request with Flask</h1>
            </div>
            <div id="content">
                <form method="post" action="/search/">
                  <label for="title">Please enter movie title:</label>
                  <input type="text" name="title" /><br />
                  <label for="year">Please enter movie year:</label>
                  <input type="text" name="year" /><br />
                  <input type="submit" />
                </form>
            </div>
           </div>
        </div>
    </body>
</html>
